.letter-tile {
    box-sizing: border-box;
    border: 1px solid #221d0c;
    box-shadow: inset -0.1em -0.1em 0 0 #221d0c38;
    background: #ccae4b;
    width: 55px;
    aspect-ratio: 1/1;
    text-align: center;
    display: grid;
    place-content: center;
	font-size: 40px;
    padding-top: 0.3em;
}